<div class="row" ng-init="init()">
  <div class="col-sm-4 header-settings" ng-include="'./app/partials/editor/header.html'"></div>
  <div class="col-sm-8">
    <div class="container">
      <div class="shadow card app-content ng-scope">
        <div class="justify-content-center card-header">
          <div class="col-sm-6">
            <h5>Sample Test
            </h5>
          </div>
          <div class="col-sm-6 text-lg-right align-self-lg-center">
            <!-- <button class="btn btn-outline-primary" ui-sref="developer:new_app">New Webpeer App</button> -->
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12" ng-if="successMsg">
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                <div class="row">
                  <div class="col-1">
                    <span class="alert-inner--icon"><i class="ni ni-like-2"></i></span>
                  </div>
                  <div class="col-11">
                    <span class="alert-inner--text"><strong>Success!</strong> {{successMsg}}</span>
                  </div>

                </div>

              </div>
              <pre ng-if="sampleResponse"><code style="width:100%; white-space: pre-wrap;">{{sampleResponse}}</code></pre>
            </div>

            <div class="col-12" ng-if="errorMsg">
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <div class="row">
                  <div class="col-1">
                    <span class="alert-inner--icon"><i class="ni ni-fat-remove"></i></span>
                  </div>
                  <div class="col-11">
                    <span class="alert-inner--text"><strong>Error!</strong> {{errorMsg}}</span>
                  </div>

                </div>

              </div>
            </div>


            <div class="col-12">
              <button ng-if="type=='trigger'" class="btn btn-primary" ng-click="testTrigger()">Test
                Trigger</button>
              <button ng-if="type=='action'" class="btn btn-primary" ng-click="testAction()">Test
                Action</button>

            </div>


          </div>
          <div class="container">
            <hr>
            <button ng-if="type=='trigger'" class="btn btn-outline-primary btn-sm pull-right " ng-disabled="continueAllow==false"
              ng-click="continue(obj,
                        'editor:action:app') ">Continue</button>
            <button ng-if="type=='action'" class="btn btn-outline-primary btn-sm pull-right " ng-disabled="continueAllow==false"
              ng-click="continue(obj,
                        'editor:index') ">Continue</button>
          </div>
        </div>
      </div>
    </div>
  </div>