<div class="container card app-content shadow ng-scope" ng-init="init()">
  <div class="row justify-content-center card-header">
    <div class="col-sm-6">
      <h1 class="display-4">My Flows</h1>
    </div>
    <div class="col-sm-6 text-lg-right align-self-lg-center">
      <button class="btn btn-outline-primary" ng-click="make_peer()">
        Make a flow
      </button>
    </div>
  </div>
  <div class="card-body">
    <div style="overflow-x: auto">
      <table class="table table-curved ">
        <thead class="bg-secondary">
          <tr>
            <th></th>
            <th>Name</th>
            <th>Status</th>
            <th>Active</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="peer in peers">
            <td>
              <div class="container">
                <div class="row">
                  <div style="width:40px">
                    <div
                      ng-show="peer.peerTriggerApplication != null"
                      class="back-img"
                      style="background-image: url({{
                        peer.peerTriggerApplication.image
                      }}); height: 30px; width:30px; padding:3px; border:1px solid #eee; border-radius: 4px"
                    ></div>
                  </div>
                  <div style="width:15px">
                    <i
                      class="fa fa-caret-right"
                      ng-show="peer.peerActionApplication != null"
                    ></i>
                  </div>
                  <div style="width:40px">
                    <div
                      class="back-img"
                      ng-show="peer.peerActionApplication != null"
                      style="background-image: url({{
                        peer.peerActionApplication.image
                      }}); height: 30px; width:30px; padding:3px; border:1px solid #eee; border-radius: 4px"
                    ></div>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <a ui-sref="editor:index({id:peer.unique})">{{ peer.name }}</a>
            </td>
            <td>
              <span ng-if="peer.complete" class="badge badge-success"
                >Complete</span
              >
              <span ng-if="!peer.complete" class="badge badge-warning"
                >Draft</span
              >
            </td>
            <td>
              <label class="custom-toggle" style="margin: 0px 0;">
                <input
                  type="checkbox"
                  class="ng-pristine ng-untouched ng-valid ng-not-empty"
                  ng-disabled="!peer.complete"
                  ng-model="peer.active"
                  ng-change="changeStatus(peer)"
                />
                <span class="custom-toggle-slider rounded-circle"></span>
              </label>
            </td>
            <td>
              <button
                class="btn btn-outline-primary btn-sm  pull-right  dropdown-toggle"
                id="{{ peer.unique }}"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                More
              </button>
              <div
                class="dropdown-menu"
                style="max-width:200px;"
                aria-labelledby="{{ peer.unique }}"
              >
                <a
                  class="dropdown-item"
                  ng-if="peer.complete && peer.active"
                  ng-click="manualRun(peer)"
                  ><i class="fa fa-play"></i> Run</a
                >
                <a class="dropdown-item"
                  ><i class="fa fa-refresh"></i> Task History</a
                >
                <a
                  class="dropdown-item"
                  ui-sref="editor:index({id:peer.unique})"
                  ><i class="fa fa-pencil"></i> Edit</a
                >
                <a class="dropdown-item text-danger"
                  ><i class="fa fa-trash"></i> Delete</a
                >
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div
  class="modal "
  id="manualRunModal"
  data-backdrop="static"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog  modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <i class="fa fa-flash text-muted"></i> Manual Run Status
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12">
          <p ng-repeat="i in resultRun" ng-bind-html="i"></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
